@charset "UTF-8";html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol,ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,th,td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle
}

q,blockquote {
    quotes: none
}

q:before,q:after,blockquote:before,blockquote:after {
    content: "";
    content: none
}

a img {
    border: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
    display: block
}

body {
    background: #fff;
    color: #333;
    font-family: sans-serif;
    font-size: 14px;
    -webkit-text-size-adjust: 100%
}

input,textarea {
    font-family: sans-serif
}

button {
    font-weight: 400;
    -webkit-appearance: none
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box
}

input[type=search]:focus {
    outline-offset: -2px
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

a {
    text-decoration: none;
    color: inherit
}

a:link,a:visited,a:hover,a:active {
    color: inherit
}

.headline{
    font-size: 20px;
    padding: 10px;
}
.item {
    position: relative;
    border-bottom: 1px solid #e2e2e2;
    height: 100px;
    padding: 10px;
}
.item_img {
    position:absolute;
    width: 104px;
}
.head_text {
    padding-left: 110px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 15px;
}



.t-line-clamp2 {
    -webkit-line-clamp: 2;
    line-height: 1.4;
    height: 2.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    box-orient: vertical
}

.t-line-clamp3 {
    -webkit-line-clamp: 3;
    line-height: 1.4;
    height: 4.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    box-orient: vertical
}

.t-footer {
    margin-top: 10px
}

.t-footer__nav {
    display: table;
    width: 100%
}

.t-footer__nav li {
    background: #dfdfdf;
    background: linear-gradient(#f5f5f5 0,#dfdfdf 100%);
    background: -webkit-linear-gradient(#f5f5f5 0,#dfdfdf 100%);
    background: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#dfdfdf));
    display: table;
    width: 100%;
    border-top: 1px solid #b9b9b9
}

.t-footer__nav a {
    display: table-cell;
    width: 33%;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #b9b9b9;
    font-size: 10px
}

.t-footer__nav a:last-child {
    border-right: 0
}

.t-footer--webview-none {
    display: none
}

.t-footer__copyright {
    font-family: Roboto,'Helvetica Neue','Hiragino Kaku Gothic ProN',Helvetica,Arial,sans-serif;
    background: #f5f5f5;
    display: block;
    height: 40px;
    line-height: 3.5;
    text-align: center;
    font-size: 10px;
    border-top: 1px solid #b9b9b9
}

.t-footer--webview-none {
    display: none
}

.t-button {
    margin-top: 20px;
    display: -webkit-box;
    display: box;
    -webkit-box-pack: center;
    box-pack: center
}

.t-button__base,.t-crosshead__button,.t-button__default,.t-button__green,.t-button__red,.t-button__default-multiline,.t-button__half,.t-button__quarter,.t-button__square,.t-button__min,.t-button__min-arrow,.t-button__submit,.t-button__more-link,.t-button__more,.t-button__anchor,.t-button__return,.t-button__top,.t-pagenav ul .t-pagenav__list--item,.t-pager ul li,.t-hotword__words a,.t-dropdown__button,.t-modal__button-all,.t-modal__button-half {
    display: block;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #b9b9b9;
    box-shadow: 0 1px 1px rgba(255,255,255,.3) inset,0 0 0 rgba(0,0,0,.1),0 1px 1px rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial;
    color: #333;
    line-height: 2.4
}

.t-button__default,.t-button__green,.t-button__red {
    font-size: 16px;
    min-width: 250px;
    min-height: 40px;
    padding: 0 10px
}

.t-button__default i,.t-button__green i,.t-button__red i {
    margin: -2px 8px 0 0
}

a.t-button__default,a.t-button__green,a.t-button__red {
    line-height: 2.4
}

.t-button__default-multiline {
    font-size: 16px;
    width: 250px
}

.t-button__default-multiline.t-button__smallText-multiline {
    line-height: 1.6
}

.t-button__smallText {
    font-size: 12px
}

.t-button__smallText-multiline {
    font-size: 12px
}

button.t-button__default-multiline,a.t-button__default-multiline {
    line-height: 1.2;
    padding: 10px 10px 8px;
    margin: 0
}

a.t-button__smallText {
    font-size: 12px;
    line-height: 3.3
}

.t-button__green {
    color: #fff;
    border: 1px solid #9fc777;
    background: #4a9a00;
    background: linear-gradient(#8bda00 0,#4a9a00 100%);
    background: -webkit-linear-gradient(#8bda00 0,#4a9a00 100%);
    background: -webkit-gradient(linear,left top,left bottom,from(#8bda00),to(#4a9a00))
}

a.t-button__green,a.t-button__red {
    color: #fff
}

.t-button__red {
    color: #fff;
}

.t-button__group.t-button--disable {
    border-spacing: 10px 0
}

.t-button__half {
    font-size: 12px;
    min-width: 125px;
    min-height: 40px;
    line-height: 3.5
}

a.t-button__half {
    line-height: 3.5
}

.t-button__quarter {
    font-size: 12px;
    min-width: 80px;
    min-height: 40px
}

a.t-button__quarter {
    line-height: 3.5
}

.t-button__square {
    position: relative;
    min-width: 30px;
    min-height: 30px;
    line-height: 1
}

.t-button__square .t-sprite-icon-icon08 {
    position: absolute;
    top: 4px;
    left: 4px
}

.t-button__square .t-sprite-icon-icon09 {
    position: absolute;
    top: 4px;
    left: 5px
}

.t-button__square .t-sprite-icon-icon12 {
    position: absolute;
    top: 3px;
    left: 2px
}

.t-button__square .t-sprite-icon-icon15 {
    position: absolute;
    top: 3px;
    left: 2px
}

.t-button__square .t-sprite-icon-icon16 {
    position: absolute;
    top: 4px;
    left: 5px
}

a.t-button__square {
    display: block
}

.t-button__min {
    font-size: 11px;
    padding: 0 10px
}

.t-button__min-arrow {
    font-size: 11px;
    padding: 0 25px 0 10px
}

.t-button--disable {
    color: #b9b9b9;
    outline: 0
}

.t-button__group {
    display: -webkit-box;
    display: box;
    box-sizing: content-box
}

.t-button__group li {
    margin-right: 10px
}

.t-button__group li:last-child {
    margin-right: 0
}

.t-button-right {
    margin-top: 20px;
    padding-right: 10px;
    display: -webkit-box;
    display: box;
    -webkit-box-pack: end;
    box-pack: end
}

.t-button-left {
    margin-top: 20px;
    padding-left: 10px;
    display: -webkit-box;
    display: box;
    -webkit-box-pack: start;
    box-pack: start
}

.t-button__submit {
    min-width: 60px;
    min-height: 30px
}

.t-button__more-link {
    font-size: 16px;
    min-width: 200px;
    min-height: 30px
}

a.t-button__more-link {
    line-height: 1.8
}

.t-button__more {
    font-size: 16px;
    min-width: 200px;
    min-height: 30px;
    background: #ededed
}

a.t-button__more {
    line-height: 1.8
}

.t-button__anchor {
    font-size: 16px;
    min-width: 200px;
    min-height: 30px;
    background: #ededed
}

a.t-button__anchor {
    line-height: 1.8
}

.t-button__return {
    font-size: 16px;
    min-width: 200px;
    min-height: 30px
}

a.t-button__return {
    line-height: 1.8
}

.t-button__top {
    font-size: 12px;
    min-width: 130px;
    min-height: 25px;
    background: #ededed;
    padding: 0 20px
}

.t-pagenav {
    margin: 20px 0
}

.t-pagenav ul {
    padding: 5px;
    text-align: center;
    display: -webkit-box;
    display: box;
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    box-align: center
}

.t-pagenav ul a {
    display: block
}

.t-pagenav ul .t-pagenav__list--item {
    margin-right: 5px;
    min-height: 32px;
    line-height: 2.9;
    min-width: 27px;
    font-size: 11px
}

.t-pagenav ul .t-pagenav__list--item:first-child {
    width: auto
}

.t-pagenav ul .t-pagenav__list--item:first-child a {
    padding: 0 13px 0 21px;
    min-width: 29px;
    min-height: 31px
}

.t-pagenav ul .t-pagenav__list--item:last-child {
    width: auto;
    margin-right: 0
}

.t-pagenav ul .t-pagenav__list--item:last-child a {
    padding: 0 21px 0 13px;
    min-width: 29px;
    min-height: 31px
}

.t-pagenav ul .t-pagenav__list--acrive {
    background: #9e9e9e;
    box-shadow: 1px 2px 1px rgba(0,0,0,.4) inset,-1px 0 1px rgba(0,0,0,.4) inset;
    color: #fff
}

.t-pagenav ul .t-pagenav__list--disabled {
    color: #b9b9b9
}

.t-pagenav ul .t-pagenav__list--disabled:first-child {
    padding: 0 13px 0 21px;
    min-width: 65px
}

.t-pagenav ul .t-pagenav__list--disabled:last-child {
    padding: 0 21px 0 13px;
    min-width: 65px
}

.t-pager {
    margin: 20px
}

.t-pager ul {
    padding: 5px;
    text-align: center;
    display: -webkit-box;
    display: box;
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    box-align: center
}

.t-pager ul a {
    display: block
}

.t-pager ul li {
    margin-right: 5px;
    min-height: 30px;
    line-height: 2.9;
    min-width: 98px;
    box-sizing: content-box;
    font-size: 11px
}

.t-pager ul li:first-child a {
    padding: 0 20px 0 28px
}

.t-pager ul li:first-child.t-pager__list--disabled {
    color: #b9b9b9
}

.t-pager ul li:last-child {
    margin-right: 0
}

.t-pager ul li:last-child a {
    padding: 0 28px 0 20px
}

.t-pager ul li:last-child.t-pager__list--disabled {
    color: #b9b9b9
}

.t-select__layout {
    position: relative;
    height: 30px;
    border: 1px solid #B3B3B3;
    border-radius: 4px
}

.t-select__layout:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 0 3px 3px 0
}

.t-select__layout:after {
    position: absolute;
    content: '';
    top: 11px;
    right: 10px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 9px solid #fff
}
.t-sprite-search {
    -webkit-background-size: 94px auto;
    background-size: 94px auto
}

.t-sprite-search-logo {
    float: right;
    margin-top: 2px;
    background-image: url(../img/sprite/search-s6e3d4a467f.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 17px;
    width: 94px;
    background-position: 0 0
}

.t-sprite-search-cross {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -7px;
    background-image: url(../img/sprite/search-s6e3d4a467f.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 13px;
    width: 14px;
    background-position: 0 -17px
}

.t-search {
    overflow: hidden;
    *zoom:1}

.t-search_inner-large,.t-search_inner-small {
    position: relative;
    display: -webkit-box;
    display: box;
    border: 1px solid #a4a4a4;
    border-radius: 4px;
    overflow: hidden;
    display: -webkit-box;
    display: box;
    -webkit-box-align: center;
    box-align: center;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.t-search_inner-large {
    min-height: 42px
}

.t-search_inner-large .t-search__submit {
    min-width: 50px;
    line-height: 2.7;
    font-size: 15px
}

.t-search_inner-small {
    min-height: 30px
}

.t-search_inner-small .t-search__submit {
    min-width: 40px;
    line-height: 2.5;
    font-size: 12px
}

.t-search__box {
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: box;
    -webkit-box-align: center;
    box-align: center;
    -webkit-box-flex: 1;
    box-flex: 1;
    overflow: hidden;
    padding: 0 30px 0 0;
    background: transparent
}

.t-hotword {
    display: -webkit-box;
    display: box;
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    box-align: center;
    font-size: 12px
}

.t-hotword__words {
    display: -webkit-box;
    display: box;
    -webkit-box-flex: 1;
    box-flex: 1
}

.t-hotword__words li {
    width: 30%;
    padding: 0 5px
}

.t-hotword__words a {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.5;
    padding: 0 5px
}

.t-form__input--error {
    font-size: 8px;
    padding: 6px 5px;
    margin-bottom: 10px;
    border-radius: 4px
}

.t-form__input {
    border: 1px solid #a4a4a4;
    border-radius: 4px;
    overflow: hidden;
    height: 30px;
    background: #fff
}

.t-form__input input {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 10px;
    font-size: 12px;
    background: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

.t-form__input-multiline {
    background: #fff;
    height: 80px;
    max-height: 150px;
    border-radius: 4px;
    border: 1px solid #a4a4a4
}

.t-form__input-multiline textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 10px;
    font-size: 12px;
    background: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.t-grid {
    overflow: hidden;
    *zoom:1}

.t-grid img {
    background: #ccc
}

.t-grid__inner {
    padding: 5px
}

.t-grid__2columns {
    width: 100%
}

.t-grid__2columns .t-grid__column {
    width: 50%
}

.t-grid__3columns {
    width: 100%
}

.t-grid__3columns .t-grid__column {
    width: 33.3%
}

.t-grid__column {
    float: left;
    text-align: center
}

.t-grid__column p {
    text-align: left;
    margin-top: 5px
}

.t-table__block {
    width: 100%;
    border-collapse: collapse
}

.t-table__block thead th {
    width: 25%;
    padding: 6px;
    text-align: left;
    vertical-align: top;
    color: #fff;
    background: #ababab;
    border-right: 1px solid #fff;
    text-align: center
}

.t-table__block thead th:last-child {
    border: 0
}

.t-table__block tbody th,.t-table__block tbody td {
    padding: 6px;
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    text-align: center
}

.t-table__block tbody th:last-child,.t-table__block tbody td:last-child {
    border-right: 0
}

.t-table__block tbody th {
    background: #eee
}

.t-table__simple {
    width: 100%;
    border-collapse: collapse
}

.t-table__simple tr {
    border-bottom: 1px solid #e2e2e2
}

.t-table__simple tr:first-child {
    border-top: 1px solid #e2e2e2
}

.t-table__simple tr.t-table__simple--em {
    background-color: #fceae0
}

.t-table__simple th,.t-table__simple td {
    text-align: left;
    padding: 6px;
    vertical-align: middle
}

.t-table__simple th {
    color: #666;
    padding-left: 5px
}

.t-table__simple--bordered {
    width: 100%;
    border-collapse: collapse
}

.t-table__simple--bordered tr {
    border-bottom: 1px solid #e2e2e2
}

.t-table__simple--bordered tr:first-child {
    border-top: 1px solid #e2e2e2
}

.t-table__simple--bordered th,.t-table__simple--bordered td {
    text-align: left;
    padding: 6px;
    vertical-align: middle;
    border-left: 1px solid #e2e2e2
}

.t-newsflash {
    line-height: 1.2
}

.t-newsflash__outline {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 13px;
    border: 2px solid #951124
}

.t-newsflash__title {
    background: #951124;
    color: #fff;
    padding: 5px 10px
}

.t-newsflash__time {
    float: right
}

.t-newsflash__link {
    display: block;
    padding: 10px 25px 10px 10px
}

.t-extra {
    line-height: 1.2
}

.t-extra__outline {
    padding: 10px;
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    border: 2px solid #a4a4a4
}

.t-information {
    line-height: 1.2
}

.t-information__outline {
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #4DF71F;
    line-height: 1.2
}

.t-information__inner {
    padding: 10px
}

.t-information__title {
    font-size: 16px
}

.t-information__text {
    margin-top: 5px;
    font-size: 12px
}

.t-information__link {
    display: block;
    padding: 10px 25px 10px 10px;
    font-size: 16px
}

.t-information__list {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #4DF71F
}

.t-information__list li {
    border-bottom: 1px solid #e2e2e2;
    margin: 0 5px
}

.t-information__list li:after {
    right: 5px
}

.t-information__list li:last-child {
    border: 0
}

.t-information__list a {
    padding: 10px 25px 10px 5px;
    display: block;
    word-wrap: break-word
}

.t-list {
    overflow: hidden;
    *zoom:1}

.t-list li {
    border-bottom: 1px solid #e2e2e2
}

.t-list a {
    display: block;
    padding: 10px 25px 10px 10px;
    word-wrap: break-word
}

.t-2columns-list {
    overflow: hidden;
    *zoom:1}

.t-2columns-list li {
    width: 100%;
    display: -webkit-box;
    display: box;
    border-bottom: 1px solid #e2e2e2
}

.t-2columns-list li div {
    width: 50%
}

.t-2columns-list li a {
    display: block;
    padding: 10px 25px 10px 10px;
    border-right: 1px solid #e2e2e2
}

.t-media {
    border-bottom: 1px solid #e2e2e2
}

.t-media a {
    display: block
}

.t-media>li {
    overflow: hidden;
    *zoom:1;border-bottom: 1px solid #e2e2e2
}

.t-media>li:last-child {
    border: 0
}

.t-media__inner {
    padding: 10px;
    overflow: hidden;
    *zoom:1}

.t-media__inner-arrow {
    padding: 10px 25px 10px 10px;
    overflow: hidden;
    *zoom:1}
.t-media__img span {
    display: block;
    width: 50px;
    margin-top: 1px;
    padding: 1px 0;
    background-color: #000;
    font-size: 9px;
    color: #FFF;
    text-align: center
}

.t-media__body {
    overflow: hidden;
    line-height: 1.2;
    word-wrap: break-word
}

.t-media__body-title {
    font-weight: 700
}

.t-media__body-title+.t-media__body-text {
    margin-top: 5px
}

.t-media__body-text {
    font-size: 12px
}

.t-media__body-ex {
    margin-top: 5px;
    font-size: 12px
}

.t-media__body-ex-left {
    float: left
}

.t-media__body-ex-right {
    float: right
}

.t-media__img-60>img {
    width: 60px;
    height: 60px;
    display: block
}

.t-media__img-50>img {
    width: 50px;
    height: 50px;
    display: block
}

.t-accordion__title {
    padding: 8px 25px 8px 8px;
    border-bottom: 1px solid #e2e2e2;
    font-size: 16px;
    word-wrap: break-word
}

.t-accordion__items {
    line-height: 1.3;
    border-bottom: 1px solid #e2e2e2
}

.t-accordion__item {
    padding: 10px;
    font-size: 14px
}

.t-accordion__list {
    padding: 0 10px
}

.t-accordion__list li {
    position: relative;
    font-size: 14px;
    line-height: 1.3;
    border-bottom: 1px solid #e2e2e2
}

.t-accordion__list li:after {
    right: 0
}

.t-accordion__list li:last-child {
    border-bottom: 0
}

.t-accordion__list li a {
    display: block;
    padding-right: 10px
}

.t-accordion__list>li {
    padding: 5px 0 5px 10px
}

.t-accordion__list .t-media {
    border: 0
}


.t-scroll-tabs__navs {
    overflow-x: scroll;
    overflow-y: hidden;
    display: -webkit-box;
    display: box;
    text-align: center;
    height: 32px;
    padding-top: 6px
}

.t-scroll-tabs__navs::-webkit-scrollbar {
    display: none
}

.t-scroll-tabs__nav {
    display: -webkit-box;
    display: box;
    font-size: 14px;
    -webkit-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 32px;
    background: #f5f5f5;
    padding: 2px 10px 0;
    margin: 0 0 0 10px;
    line-height: 1;
    white-space: nowrap;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}


.t-scroll-tabs__items {
    display: none
}

.t-dropdown {
    position: relative
}

.t-dropdown__button {
    font-size: 11px;
    padding: 0 30px 0 10px;
    height: 30px;
    min-width: 100px
}

.t-dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2000;
    padding: 5px 10px;
    margin-top: 2px;
    background: #fff;
    border: 1px solid #a4a4a4;
    line-height: 2;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0,0,0,.2) 0 1px 1px;
    box-shadow: rgba(0,0,0,.2) 0 1px 1px
}

.t-dropdown__menu a {
    display: block
}

.t-modal {
    display: none
}

.t-modal__overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,.6);
    z-index: 1000;
    overflow: visible;
    cursor: pointer
}

.t-modal__content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 280px;
    height: auto;
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    z-index: 1001
}

.t-modal__inner {
    overflow: hidden;
    *zoom:1}

.t-modal__cross {
    text-align: right;
    width: 100%;
    height: 30px
}

.t-modal__button {
    margin-top: 10px;
    width: 100%;
    display: -webkit-box;
    display: box
}

.t-modal__button-all {
    font-size: 12px;
    width: 100%;
    height: 30px
}

.t-modal__button-half {
    font-size: 12px;
    width: 132px;
    height: 30px
}

.t-bx__viewport {
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.t-bx__viewport a {
    display: block;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

.t-bx__slide {
    display: -webkit-box;
    display: box
}

.t-bx__pager {
    display: -webkit-box;
    display: box;
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    box-align: center
}

.t-bx__pager-item a {
    display: block;
    text-indent: -9999px;
    background: #e9e9e9;
    width: 10px;
    height: 10px;
    margin: 0 10px 0 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px
}

.t-bx__pager-item:last-of-type a {
    margin: 0
}

.t-bx__pager-item a.active {
    background: #a4a4a4
}

.t-bx__large-pager .t-bx__pager-item a {
    display: block;
    background: #e9e9e9;
    text-indent: -9999px;
    width: 15px;
    height: 15px;
    margin: 0 14px 0 0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #c5c5c5;
    background: #e5e5e5;
    background: linear-gradient(#fefefe 0,#e5e5e5 100%);
    background: -webkit-linear-gradient(#fefefe 0,#e5e5e5 100%);
    background: -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#e5e5e5))
}

.t-bx__large-pager .t-bx__pager-item:last-of-type a {
    margin: 0
}

.t-bx__large-pager .t-bx__pager-item a.active {
    border: 1px solid #a4a4a4;
    background: #a4a4a4;
    box-shadow: 0 1px 2px rgba(0,0,0,.8) inset
}

.t-bx__item {
    position: relative
}

.t-bx__item-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: #fff;
    background: rgba(0,0,0,.6)
}

.t-bx__arrow {
    right: 10px;
    font-size: 30px
}
